body {
    box-sizing: border-box;
    margin: 20px;
}
.Vaishu a {
    text-decoration: none;
}
.home {
    display: flex;
    gap: 150px;
    margin-left: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #140101;
    align-items: center;
    position: sticky;
    top: 0%;
    height: 60px;
}
span {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding-left: 25px;
}
h2 {
    color: rgb(217, 39, 93);
    margin-left: 50px;
    font-size: 30px;
    padding-bottom: 0%;
}
.navbar a {
    word-spacing: 15px;
    padding-right: 30px;
    font-size: 20px;
    text-decoration: none;
}
.navbar a:link {
    color:  rgb(217, 39, 93);
}
.navbar a:hover {
    color: white;
}
.navbar a:visited {
    color:  rgb(217, 39, 93);
}
#Home {
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/blurred-gradient-background-pink-color_58702-1643.jpg?semt=ais_user_personalization&w=740&q=80);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
}
.pro {
    height: 500px;
    width: 300px;
    border: 2px solid rgb(217, 39, 93);
    border-radius: 30px;
    margin-left: 300px;
}
.text {
    margin-top: 80px;
}
#Home h1 {
    font-size: 40px;
    color: rgb(24, 1, 8);
}
#Home .ln a:link {
    color: black;
}
#Home .gb a:link {
    color: black;
}
.ligi {
    display: flex;
    gap: 50px;
    margin-left: 140px;
}
#About {
    padding-bottom: 40px;
}
#About h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}
.About {
    align-items: flex-start;
    padding-top: 10px;
}
.About img {
    height: auto;
    max-height: 500px;
    margin-left: 15px;
    border: 5px solid  rgb(217, 39, 93);
    border-radius: 5px;
}
.About p {
    font-size: 20px;
    line-height: 1.6;
}
.About {
    display: flex;
    gap: 40px;
}
.side h1 {
    color: rgb(217, 39, 93);
    font-size: 30px;
    padding-top: 10px;
}
.side ul {
    font-size: 20px;
    line-height: 1.8;
}
#Education {
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/blurred-gradient-background-pink-color_58702-1643.jpg?semt=ais_user_personalization&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
#Education h1 {
    font-size: 50px;
    padding-bottom: 20px;
    color: rgb(1, 0, 0);
}
.clg {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: flex-start;
    font-size: 15px;
    padding-left: 10px;
    border: 3px solid rgba(3, 0, 0);
    margin: 20px 40px; 
    padding: 20px 60px; 
    max-width: fit-content;
}
.clg span {
    padding-left: 0px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
    font-family: Geneva, Tahoma, sans-serif;
}
.clg p {
    font-size: 25px; 
    font-weight: bold;
    line-height: 1.8;
}
.scl {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
    border: 3px solid rgba(3, 0, 0);
    text-align: center;
    margin: 20px 40px; 
    padding: 20px 60px;
    max-width: fit-content;
    margin-left: auto;
}
.scl span {
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
    font-family: Geneva, Tahoma, sans-serif;
}
.scl p {
    font-size: 25px; 
    font-weight: bold;
    line-height: 1.8;
}
.scl1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    padding-left: 10px;
    border: 3px solid rgba(3, 0, 0);
    text-align: center;
    margin: 20px 40px;
    padding: 20px 60px;
    max-width: fit-content;
    
}
.scl1 span {
    padding-left: 0px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
    font-family: Geneva, Tahoma, sans-serif;
}
.scl1 p {
    font-size: 25px; 
    font-weight: bold;
    line-height: 1.8;
}
#Skills {
    padding-bottom:50px;
}
.progress1 {
  width: 400px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}
.bar1 {
  background-color: rgb(217, 39, 93);
  color: white;
  text-align: center;
  padding: 5px 0;
}
.h {
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    color: rgb(217, 39, 93);
}
.h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px;
    color: rgb(217, 39, 93);
}
.h2{
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    padding: 0px 30px;
    color: rgb(217, 39, 93);
}
.p1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px;
    font-size: 20px;
}
.p2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 30px;
    font-size: 20px;
}
hr {
    border: 1px solid rgb(217, 39, 93);
}
#Projects {
    /* text-align: center; */
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(https://img.freepik.com/free-photo/blurred-gradient-background-pink-color_58702-1643.jpg?semt=ais_user_personalization&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}   
.tr1 td {
    /* text-align: center; */
    padding: 20px 60px; 
}
.tr1 td h1 {
    font-size: 25px;
    color: rgb(1, 0, 0);
}
.tr1 td p {
    font-size: 18px;
    line-height: 1.3;
}
.tr1 td .btn {
    border: 2px solid rgb(217, 39, 93);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(217, 39, 93);
    color: white;
}
#Contact {
    max-height: 500px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}
footer {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
}
.ln a:link {
    color: white;
}
.gb a:link {
    color: white;
}
.f1 {
    /* text-align: center; */
    line-height: 1.8;
    font-size: 18px;
}
.f1 a:link {
    color: white;
    font-size: 18px;
}
.f2 {
    /* text-align: center; */
    line-height: 1.8;
}
.f2 a:link {
    color: white;
    font-size: 18px;
}  
.f1 a:hover {
    color:  rgb(217, 39, 93);
} 
.f2 a:hover {
    color:  rgb(217, 39, 93);
}
@media (max-width: 700px) {
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    nav {
        gap: 30px;
        padding: 0 20px;
    }
    .navbar a {
        font-size: 11px;
    }
    h2 {
        margin-left: 0;
        font-size: 20px;
    }
    #Projects {
        height: 1100px;
    }
    footer {
        height: 500px;
    }
    .About {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
    .side {
        padding-right: 40px;
    }
}